/* ===== Global ===== */

@import "mocha.css";

* {
    min-height: 0px;
}

/* ===== Waybar ===== */

#waybar {
    background: transparent;
    color: @text;
}

/* ===== Workspaces ===== */

#workspaces {
    background: @surface0;
    border: 2px solid @lavender;

    font-size: 16px;
    border-radius: 10;
    margin: 0 5px;
}

#workspaces button {
    border: 2px solid @surface0;
    color: @text;

    padding: 0 7 0 0px;
}

#workspaces button.focused {
    background: @lavender;
    color: @surface0;
}

#workspaces button:hover {
    background: @base;
    border-top: 2px solid @lavender;
    border-left: 2px solid @lavender;
}

#workspaces button.focused:hover {
    background: @lavender;
    border: 2px solid @lavender;
}

/* ===== Clock ===== */

#clock {
    background: @surface0;
    border: 2px solid @lavender;

    font-size: 12px;
    border-radius: 10px;
    padding: 0 15px;
}

#clock:hover {
    background: @base;
    box-shadow: inset 0 2px @lavender;
}

/* ===== Idle Inhibitor ===== */

#idle_inhibitor {
    background: @surface0;
    border: 2px solid @green;
    color: @text;

    font-size: 12px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0 10px;
}

#idle_inhibitor:hover {
    background: @base;
    box-shadow: inset -2 2px @green;
}

#idle_inhibitor.activated {
    background: @green;
    color: @surface0;
}

#idle_inhibitor.activated:hover {
    box-shadow: inset -2 2px @base;
}

/* ===== Volume ===== */

#pulseaudio {
    background: @surface0;
    border: 2px solid @sky;
    color: @text;

    font-size: 12px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 10 0 0px;
}

#pulseaudio.muted {
    border: 2px solid @red;
}

#pulseaudio:hover {
    background: @base;
    box-shadow: inset -2 2px @sky;
}

#pulseaudio.muted:hover {
    box-shadow: inset -2 2px @red;
}

/* ===== Network ===== */

#network {
    background: @surface0;
    border: 2px solid @teal;
    color: @text;

    font-size: 12px;
    border-radius: 10px;
    padding: 0 10 0 5px;
    margin: 0 10 0 0px;
}

#network.disconnected {
    border: @yellow;
}

#network:hover {
    background: @base;
    box-shadow: inset -2 2px @green;
}

#network.disconnected:hover {
    box-shadow: inset -2 2px @yellow;
}

/* ===== Bluetooth ===== */

#bluetooth {
    background: @surface0;
    border: 2px solid @blue;
    color: @text;

    font-size: 12px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 10 0 0px;
}

#bluetooth:hover {
    background: @base;
    box-shadow: inset -2 2px @blue;
}

/* ===== System Monitor ===== */

#cpu {
    background: @surface0;
    border-top: 2px solid @lavender;
    border-left: 2px solid @lavender;
    border-bottom: 2px solid @lavender;
    color: @text;

    font-size: 12px;
    border-radius: 10 0 0 10px;
    padding: 0 5 0 10px;
}

#memory {
    background: @surface0;
    border-top: 2px solid @lavender;
    border-bottom: 2px solid @lavender;
    color: @text;

    font-size: 12px;
    padding: 0 5px;
}

/* ===== CPU Temp ===== */

#temperature {
    background : @surface0;
    border-top: 2px solid @lavender;
    border-bottom: 2px solid @lavender;
    color: @text;

    font-size: 12px;
    padding: 0 5px;
}

#temperature.critical {
}

/* ===== Power ===== */

#power-profiles-daemon {
    background: @surface0;
    border-top: 2px solid @lavender;
    border-bottom: 2px solid @lavender;
    color: @text;

    font-size: 12px;
    padding: 0 10 0 5px;
}

#power-profiles-daemon:hover {
    background: @base;
    box-shadow: inset -2 2px @lavender;
}

#battery {
    background: @surface0;
    border-top: 2px solid @lavender;
    border-right: 2px solid @lavender;
    border-bottom: 2px solid @lavender;
    color: @text;

    font-size: 12px;
    padding: 0 10 0 5px;
    border-radius: 0 10 10 0px;
    margin: 0 10 0 0px;
}

#battery.critical {
    background: @red;
    color: @surface0;
}

/* ===== Tray ===== */

#tray {
    background: @surface0;
    border-top: 2px solid @red;
    border-left: 2px solid @red;
    border-bottom: 2px solid @red;
    
    font-size: 12px;
    border-radius: 10 0 0 10px;
    padding: 0 5 0 10px;
}

#custom-power {
    background: @surface0;
    border-top: 2px solid @red;
    border-right: 2px solid @red;
    border-bottom: 2px solid @red;
    
    font-size: 20px;
    border-radius: 0 10 10 0px;
    padding: 0 10 0 5px;
    margin: 0 5 0 0px;
}

#custom-power:hover {
    background: @red;
    color: @text;
    box-shadow: inset -2 2px @base;
}
