/* ===== Global ===== */
@import "mocha.css";

* {
    font-size: 12px;
}

/* ===== Waybar ===== */
#waybar {
    background: transparent;
    color: @text;
}

/* ===== Workspaces ===== */
#workspaces {
    background: @surface0;
    border-radius: 10px;
    margin: 0 15px;    
}

#workspaces button {
    color: @text;
    padding: 0 5px;
    border-radius: 10px
}

#workspaces button.focused {
    background: @lavender;
    color: @surface0;
}

/* ===== Clock ===== */
#clock {
    background: @lavender;
    color: @surface0;
    border-radius: 10px;
    padding: 0 15px;
}

/* ===== Idle Inhibitor ===== */
#idle_inhibitor {
    background: @surface0;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0 10px;
}

#idle_inhibitor:hover {
    box-shadow: inset 2 1px @green;
}

#idle_inhibitor.activated {
    background: @green;
    color: @surface0;
}

#idle_inhibitor.activated:hover {
    box-shadow: inset 2 1px @surface0;
}

/* ===== Volume ===== */
#pulseaudio {
    background: @sky;
    color: @surface0;
    border-radius: 10px;
    padding: 0 5 0 10px;
    margin: 0 10 0 0px;
}

#pulseaudio.muted {
    background: @red;
}

#pulseaudio:hover {
    box-shadow: inset 2 1px @surface0;
}

/* ===== Connection ===== */
#network {
    background: @teal;
    color: @surface0;
    border-radius: 10px;
    padding: 0 10 0 5px;
    margin: 0 10 0 0px;
}

#network.disconnected {
    background: @yellow;
}

#network:hover {
    box-shadow: inset 2 1px @surface0;
}

/* ===== System Monitor ===== */
#cpu {
    background: @lavender;
    color: @surface0;
    border-radius: 10 0 0 10px;
    padding: 0 5 0 10px;
}

#memory {
    background: @lavender;
    color: @surface0;
    padding: 0 5px;
}

/* ===== CPU Temp ===== */
#temperature {
    background : @lavender;
    color: @surface0;
    padding: 0 5px;
}

#temperature.critical {
    background: @mauve;
}

/* ===== Power ===== */
#power-profiles-daemon {
    background: @lavender;
    color: @surface0;
    padding: 0 5px;
}

#power-profiles-daemon:hover {
    box-shadow: inset 2 1px @surface0;
}

#battery {
    background: @lavender;
    color: @surface0;
    padding: 0 10 0 5px;
    border-radius: 0 10 10 0px;
    margin: 0 15 0 0px;
}

#battery.charging, #battery.plugged {
    background: @blue;
    color: @surface0;
}

#battery.critical {
    background: @red;
    color: @surface0;
}

/* ===== Tray ===== */
#tray {
    background: @surface0;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 15 0 0px;
}
